<h1> Hello from EJS </h1>
<!-- <%=myName %> -->
<form method="get" action="/name">
    <p>Tell us your name or something: </p>
    <input type="text" name="ejsFormName" value=" <%=myName %> ">
    <input type="submit">
</form>